/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
    text-align: center;
}

.title {
    background-color: orange;
    margin-bottom: 20px;
}

/****** Nav Styling ******/

nav {
    color: #00BCD4;
    height: 56px;
    margin: 0 100px 0 0;
    text-align: center;
	float: right;
}
div h4 {
	float: left;
	margin: 20px 0 0 20px;
}

.nav-container {
	background-color: #91b7e0;
}

nav p {
	margin: 16px 0 5px 0;
	display: inline;
}
nav {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
	text-decoration: none;
}

.menu:hover {
	color: #FFA000;
	text-decoration: none;
}

.menu:active {
	color: #FF630D;
}

nav a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #010a19;
}

#display-name {
	font-weight: 400;
}

.img-vote {
	float: left;
	position: absolute;
	height: 15%;
	width: auto;
	margin-top: -12px;
}

.displayPoll {
	text-align: center;
}

.votePoll {
	float: left;
	margin: 20px 0 0 300px;
}

.votePoll button {
	float:right;
	margin: 0 0 15px 0;
}
.votePoll p {
	float: left;
	margin: 10px 20px 15px 0;
}
#myChart {
	float: right;
	margin: 0 300px 0 0;
}
.pollTitle {
	margin-bottom: 10px;
	margin-top: -10px;
}
.well {
	background-color: #EEE;
}
.test form {
	clear: both;
}
.test button {
	float:right;
	margin: 0 300px 15px 0;
}
.test p {
	float: left;
	margin: 10px 20px 15px 300px;
}

/****** Footer Styling ******/

footer {
	background-color: #91b7e0;
}
footer a {
	color: black;
}
footer h5 {
	float: left;
	margin: 10px 0 0 20px;
}
footer p {
	float: right;
	margin-right: 20px;
}
footer p:nth-child(2) {
	margin-top: 10px;
}
footer p:nth-child(3) {
	clear: both;
	margin-top: -5px;
}


.container h4 {
	margin-bottom: 10px;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 120px;
	border-radius: 3px;
	margin: 0 auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile img {
	float: right;
	margin-right: 20px;
	padding-top: 16px;
}

.github-profile p:nth-child(2) {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 5px
}

.github-profile p {
	margin: 0 0 0 20px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}