<!DOCTYPE html>
<html lang="en">

    <%- include partials/head.ejs %>

	<body>
    <%- include partials/nav.ejs %>
    <div class="container">
        <p><%- poll.name %></p>
    </div>

		<script type="text/javascript" src="common/ajax-functions.js"></script>
        <!--<script type="text/javascript" src="controllers/clickController.client.js"></script>
        <script type="text/javascript" src="controllers/userController.client.js"></script>-->
        <script type="text/javascript" src="../controllers/userController.client.js"></script>
	</body>

</html>