<!DOCTYPE html>
<html lang="en">
    <%- include head.ejs %>

	<body>
    <%- include nav.ejs %>

		<div class="container">
            <% if (newPoll != null) { %>

			<p> <%- newPoll.pollName %> </p>

            <% } else { %>

			<p>Add some polls man</p>

            <% } %>

		</div>
		
		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="controllers/clickController.client.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
	</body>

</html>