
<footer class="container-fluid navbar-fixed-bottom">
    <h5>Created by Andrew Gingrich</h5>
    <p>Check out the <a href="https://github.com/ajGingrich/Voting" target="_blank">github repository</a></p>
    <p>The <a href="https://www.freecodecamp.com/challenges/build-a-voting-app" target="_blank">description</a> from freeCodeCamp</p>
</footer>

